{% extends 'base.html' %}

{% block body %}

<h1>List of apps</h1>

<table class="table">
    <tr>
    <th scope="col">App</th>
    <th scope="col">Status</th>
    </tr>
    {% for app in data %}

        <tr>
        <td> {{ app[0] }} </td>
        <td> {{ app[2] }} </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/run/{{ app[1] }}">Run</a></li>
                </ul>
              </div>
        </td>
        </tr>

    {% endfor %}

</table>


{% endblock %}