{% extends 'base.html' %}

{% block body %}

<h1>List of Settings</h1>

<table class="table">
    <tr>
    <th scope="col">Setting</th>
    <th scope="col">Value</th>
    </tr>
    {% for app in data %}

        <tr>
        <td> {{ app }} </td><td> {{ data[app] }} </td>
        </tr>

    {% endfor %}
</table>

<h1>List of Plugins</h1>

<table class="table">
    <tr>
        <th scope="col">Plugin</th>
    </tr>
    {% for plugin in plugin_names %}
        <tr><td>{{ plugin }} </td></tr>
    {% endfor %}
</table>

<h1>List of Plugin Values</h1>

<table class="table">
    <tr>
        <th scope="col">App</th>
        <th scope="col">Field</th>
        <th scope="col">Value</th>
    </tr>
    {% for app in values %}
        {% for val in values[app] %}
            <tr><td>{{ app }}</td><td> {{ val }} </td><td> {{ values[app][val] }} </td></tr>
        {% endfor %}
    {% endfor %}
</table>

<h1>Configs Form</h1>

    <form action="{{ url_for('save_config') }}" method="post">
    
    {% for config in configs %}
        
        {% if configs[config]|count > 0 %}
        <div class="form-group">
            <label for="{{ config }}.{{ var }}">{{ config }}</label><br>
            
            {% for var in configs[config] %}
                <label for="{{ config }}.{{ var }}">{{ var }}</label>
                <input type="input" class="form-control" id="{{ config }}.{{ var }}" aria-describedby="emailHelp" placeholder="{{ var }}" value="{{ values[config][var] }}">
            {% endfor %}
        </div>
        {% endif %}
        <br>
    {% endfor %}
    <button type="save" class="btn btn-primary">Save</button>
</form>


{% endblock %}