{% extends 'base.html' %}

{% block body %}

<h1>List of SQLite tables</h1>

<table class="table">
    <tr>
    <th scope="col">Local Tables</th>
    </tr>
    {% for app in data %}

        <tr>
        <td> {{ app[0] }} </td>
        </tr>

    {% endfor %}
</table>

<h1>List of Configs</h1>

    <form method="post">
    
    {% for config in configs %}
        
        {% if configs[config]|count > 0 %}
        <div class="form-group">
            <label for="exampleInputEmail1">{{ config }}</label><br>
            
            {% for var in configs[config] %}
                <label for="{{ config }}.{{ var }}">{{ var }}</label>
                <input type="input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ var }}">
            {% endfor %}
        </div>
        {% endif %}
        <br>
    {% endfor %}
    <button type="save" class="btn btn-primary">Save</button>
</form>


{% endblock %}