{% extends 'base.html' %}

{% block body %}

<h1>List of SQLite tables</h1>

<table class="table">
    <tr>
    <th scope="col">Local Tables</th>
    </tr>
    {% for app in data %}

        <tr>
        <td> {{ app[0] }} </td>
        </tr>

    {% endfor %}
</table>

<table class="table">
    <tr>
    <th scope="col">Values</th>
    <tr><td> {{ values['weather']['appid'] }} </td></tr>
    {% for app in values %}
        {% for val in values[app] %}
            <tr><td>{{ app }}</td><td> {{ val }} </td><td> {{ values[app][val] }} </td></tr>
        {% endfor %}
    {% endfor %}
</table>

<h1>List of Configs</h1>

    <form action="{{ url_for('save_config') }}" method="post">
    
    {% for config in configs %}
        
        {% if configs[config]|count > 0 %}
        <div class="form-group">
            <label for="{{ config }}.{{ var }}">{{ config }}</label><br>
            
            {% for var in configs[config] %}
                <label for="{{ config }}.{{ var }}">{{ var }}</label>
                <input type="input" class="form-control" id="{{ config }}.{{ var }}" aria-describedby="emailHelp" placeholder="{{ var }}" value="{{ values[config][var] }}">
            {% endfor %}
        </div>
        {% endif %}
        <br>
    {% endfor %}
    <button type="save" class="btn btn-primary">Save</button>
</form>


{% endblock %}